* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}


.wrapper {

    width: 80%;
    margin: 2rem auto;
    margin-bottom: 10px;
    padding: 20px;
    border: 5px solid black;
    align-self: center;

    /*
    max-width: 1000px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
    /*box-shadow: 3px 3px 3px rgba(1,1,1,1);
    border: 5px solid black;*/
    
}

.wrapper_auth {
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
    /*box-shadow: 3px 3px 3px rgba(1,1,1,1);*/
    border: 5px solid black;
}

.wrapper .title,
.wrapper_auth .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    
}

form {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

form .input-field {
    margin: 15px;
    margin-left: -12px;
    display: flex;
    align-items: center;
}

form .input-field label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}

form .input-field .input,
form .input-field .input1,
form .input-field .textarea,
form .input-field .textarea1 {
    width: 100%;
    outline: none;
    border: 1px solid #000;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

form .input-field .input {
    display: flex;
}

input[type="file"] {
    width: 107px;
    overflow: hidden;
    align-content: left;
}

form .input-field .textarea {
    height: 100px;
    white-space: pre-wrap;
}

form .input-field .textarea1 {
    height: 200px;
    white-space: pre-wrap;
}

form .btn {
    width: 50%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

form .btn:hover,
form .btn-1:hover{
    background-color: pink;
    color: black;
}

form .btn-container {
    display: flex;
    column-gap: 20px;
    margin-left: 90px;
}

form .btn-1 {
    width: 30%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.signup {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.signup a {
    font-size: 18px;
}

input[type=radio] {
    margin: 20px;
}